---
import { twMerge } from "tailwind-merge";

const {
	class: className,
	id,
	color,
	width = "7xl",
	padding = "normal",
} = Astro.props;

export { className as class };
---

<section
	{id}
	class={twMerge(
		'relative px-6',
		color === 'deepsea' && `bg-deepsea`,
		color === 'frost' && `bg-frost` && `dark:deepsea`,
		color === 'crystal' && `bg-crystal` && `dark:deepsea`,
		padding === 'normal' && 'pb-14 pt-14 lg:pb-28 lg:pt-32',
		padding === 'tight' && 'pb-14 pt-14 lg:pb-12 lg:pt-16'
	)}
>
	<div
		class={twMerge(
			`mx-auto flex w-full flex-col items-center gap-12 lg:gap-24`,
			width === '7xl' && 'max-w-7xl',
			width === '5xl' && 'max-w-5xl',
			className
		)}
	>
		<slot />
	</div>
</section>
