---
import Header from '@astrojs/starlight/components/Header.astro'
import { twMerge } from 'tailwind-merge'
import Footer from './Footer.astro'
---

<header class={twMerge('relative flex flex-col items-center bg-crystal dark:bg-deepsea')}>
	<!-- Top bar -->
	<div
		class="py-0.75 lg:py-0.75 z-20 grid h-16 w-full grid-cols-[auto] px-1 lg:z-20 lg:grid-cols-[auto] lg:px-1.5 xl:z-20"
	>
		<Header slot="header" {...Astro.props}><slot /></Header>
	</div>

	<slot name="header" />
</header>

<main class="tailwind-preflight min-h-[calc(100vh-7.75rem)]">
	<slot />
</main>

<Footer />
