---
import { twMerge } from "tailwind-merge";
import Layout from "~/components/Base.astro";
import Page from "~/components/ContentPage.astro";
import Downloads from "~/components/Downloads.astro";
const { title, subtitle } = Astro.props.entry.data;
---

<Layout {...Astro.props}>
	<Page {title} {subtitle}>
		<div class={twMerge('mb-12 flex w-full grow flex-col gap-12 lg:mb-20 lg:flex')}>
			<Downloads>
				<span slot="beforeDownloads"><h2 class="text-[var(--sl-color-text)]">Links</h2></span>
			</Downloads>
			<h2 class="text-[var(--sl-color-text)]">Minimum System Requirements</h2>

			<table>
				<thead>
					<tr>
						<th></th>
						<th>Windows</th>
						<th>macOS</th>
						<th>Linux</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>OS Version</td>
						<td>7</td>
						<td>Big Sur (11.0)</td>
						<td>glibc 2.17</td>
					</tr>
					<tr>
						<td>Processor</td>
						<td>Intel Core 2 or AMD FX</td>
						<td>Intel Core i or Apple Silicon</td>
						<td>Intel Core 2 or AMD FX</td>
					</tr>
					<tr>
						<td>RAM</td>
						<td>2 GiB</td>
						<td>2 GiB</td>
						<td>2 GiB</td>
					</tr>
					<tr>
						<td>Storage</td>
						<td>500 MiB</td>
						<td>500 MiB</td>
						<td>500 MiB</td>
					</tr>
				</tbody>
			</table>
		</div>
	</Page>
</Layout>
