@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        @apply w-full;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Montserrat", system-ui, sans-serif;
    }

    .right-sidebar {
        border-inline-start: unset;
    }

    .site-title {
        height: unset;
    }

    .sidebar-pane {
        background-color: unset;
        border-inline-end: unset;
    }


    [data-has-sidebar]:not([data-has-sidebar=""]) header {
        border-bottom: 1px solid transparent;
        background-color: transparent;
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
    }

    @keyframes wobble {
        33% {
            transform: translateX(-50px);
        }

        66% {
            transform: translateX(50px);
        }
    }

    @keyframes up {
        0% {
            opacity: 0;
        }

        10%,
        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: translateY(-1024px);
        }
    }

    .markdown {
        @apply prose font-body font-light dark:prose-invert flex max-w-[72ch] flex-col prose-h2:mt-[1.8em] prose-h2:mb-[0.7em] prose-h2:text-2xl lg:prose-h2:text-3xl prose-h3:text-xl lg:prose-h3:text-2xl prose-hr:border-mist prose-hr:border-t-2 prose-headings:font-montserrat prose-pre:rounded-2xl;

        & :not(pre) > code {
            @apply rounded-md bg-frost/20 px-2 py-1 font-normal border-[1px] border-indigo/80 before:hidden after:hidden lg:whitespace-nowrap;
        }
    }

    .sticky-nav {
        @media screen and ( min-height: 800px ) {
            @apply sticky;
        }
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .text-pretty {
        text-wrap: pretty;
    }
}
